@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v38/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}
  
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;

    /* Rules for sizing the icon. */
    &.md-18 { font-size: 18px; }
    &.md-24 { font-size: 24px; }
    &.md-36 { font-size: 36px; }
    &.md-48 { font-size: 48px; }
    
    /* Rules for using icons as black on a light background. */
    &.md-dark {
         color: rgba(0, 0, 0, 0.54); 
         &.md-inactive { color: rgba(0, 0, 0, 0.26); }
    }
    
    /* Rules for using icons as white on a dark background. */
    &.md-light{
        color: rgba(255, 255, 255, 1);
        &.md-inactive { color: rgba(255, 255, 255, 0.3); }
   }
}