/*!
 * ngConfirm v1.0.2
 * Copyright 2016 Eric Ferreira
 * Contato: ericferreira1992@gmail.com
 */

.ng-confirm-geral{
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255,255,255,0.7);
    display: table;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    opacity: 0;
    visibility: hidden;
    -webkit-animation: both .5s;
    animation: both .5s;
}
.ng-confirm-area{
    display: table-cell;
    vertical-align: middle;
	padding: 15px;
	box-sizing: border-box;
}
.ng-confirm-container{
    display: table;
    margin: auto;
    margin-top: -150px;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 1px 25px rgba(0, 0, 0, 0.25);
    padding: 10px 15px 15px 15px;
    min-width: 300px;
    max-width: 600px;
    box-sizing: border-box;
    border: 1px #CDCDCD solid;
    color: #444;
    font-family: inherit;
}
.ng-confirm-container > header{
    font-size: 18px;
    padding: 0;
}
.ng-confirm-container > section{
    padding: 10px 0px 10px 0px;

    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
.ng-confirm-container > div{
    margin-left: -15px;
    margin-bottom: -15px;
    padding: 8px 8px 8px 22px;
    border-radius: 0 0 4px 4px;
    box-sizing: content-box;
    background: #F5F5F5;
    display: table;
    width: 100%;
}
.ng-confirm-container > div button{
    float: right;
    margin-left: 5px;
    min-width: 60px;
}


/* ----- ANIMAÇÕES ----- */
@-webkit-keyframes ngConfirmModalIn {
    from {
        visibility: visible;
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes ngConfirmModalIn {
    from {
        visibility: visible;
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes ngConfirmModalOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
    100%{  visibility: hidden; }
}
@keyframes ngConfirmModalOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
    100%{  visibility: hidden; }
}

.ng-confirm-in {
    visibility: visible;
    -webkit-animation-name: ngConfirmModalIn;
    animation-name: ngConfirmModalIn;
}
.ng-confirm-out {
    visibility: visible;
    -webkit-animation-name: ngConfirmModalOut;
    animation-name: ngConfirmModalOut;
}
